@model Model.Models.Produto

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="container text-center">
            <div class="row thumbnail">
                <h2>Produto</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Empresa)
                @Html.HiddenFor(model => model.TipoProduto.Tipo)
                @Html.HiddenFor(model => model.TipoProduto.Marca)
                @Html.HiddenFor(model => model.TipoProduto.Descricao)
                <div class="form-group">
                    @Html.LabelFor(model => model.TipoProduto.Tipo, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.TipoProduto.Tipo, new { htmlAttributes = new { @class = "control-label col-md-5" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TipoProduto.Marca, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.TipoProduto.Marca, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TipoProduto.Descricao, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.TipoProduto.Descricao, new { htmlAttributes = new { @class = "form-control"} })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Preco, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Preco, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Preco, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <div class="col-md-5"> </div>
                    <div class="col-md-1">
                        <input type="submit" value="Salvar" class="btn btn-default" />
                    </div>
                    <div class="col-md-3">
                        @Html.ActionLink("Voltar", "Index", new { Controller = "Produto" }, new { @class = "btn btn-default" })
                    </div>
                    <div class="col-md-3"> </div>
                </div>
            </div>
        </div>
    </div>
 }

