@model Model.Models.Usuario

@{
    ViewBag.Title = "Delete";
}

<center>
    <div class="form-horizontal">
        <div class="container text-center">
            <div class="row thumbnail">
                <h2>Deseja Realmente Excluir: <n>@Html.DisplayFor(model => model.Nome)</n> ?</h2>
                <hr />


                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-2"> </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Endereco.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.Endereco.Bairro, new { htmlAttributes = new { @class = "form-control"} })
                    </div>

                    @Html.LabelFor(model => model.Endereco.RuaAv, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.Endereco.RuaAv, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-2"> </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Endereco.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.Endereco.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    @Html.LabelFor(model => model.Endereco.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.Endereco.Numero, new { htmlAttributes = new { @class = "form-control"} })
                    </div>
                    <div class="col-md-2"> </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control"} })
                    </div>

                    @Html.LabelFor(model => model.Endereco.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DisplayFor(model => model.Endereco.Estado, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-2"> </div>
                </div>


                <div class="form-group">
                    <div class="col-md-4"> </div>
                    <div class="col-md-2">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" />
                            </div>
                        }
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("Cancelar", "ListagemUsuarios", new { Controller = "Administrador" }, new { @class = "btn btn-default" })
                    </div>
                    <div class="col-md-4"> </div>
                </div>
            </div>
        </div>
    </div>
</center>

